{{ partial "header.html" . }}

<main class="content" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content">
      {{ .Content }}
    </div>
  </article>
  {{ end }}

  <div class="archive">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    <ul class="taxonomy-grid">
      {{ range (where $pages "Section" "!=" "").GroupBy "Section" }}
              
              <li>
                  <a href="/{{ .Key }}" style="text-decoration:none">
                      <div style="width:150px;height:150px;border-radius:15px;background-color:{{ $.Site.Params.backgroundColor }}; display:flex; justify-content:center; align-items:center">
                          <p style="color:{{ $.Site.Params.textColor }}">{{ title .Key }} <br> ({{ len .Pages }})</p>
                        </div>
                  </a>
              </li>
      {{ end }}
  </ul>
  </div>

</main>

{{ partial "footer.html" . }}
