{{ partial "header.html" . }}

<main class="content home-template" role="main">

  {{ if .Content }}
  <article class="article">
    {{ if .Title }}
    <h1 class="article-title" style="text-align: center;">{{ .Title }}</h1>
    {{ end }}
    <div class="article-content" style="text-align: start;">
      {{ .Content }}
    </div>
  </article>
  {{ end }}

  <div class="archive">
    {{ $pages := .Pages }}
    {{ if .IsHome }}
    {{ $pages = .Site.RegularPages }}
    {{ end }}
    <ul class="taxonomy-grid">
      {{ range (where $pages "Section" "!=" "").GroupBy "Section" }}
        {{ $var := .Key }}
        {{ $pageCount := len .Pages }}
        {{ range site.Sections }} {{ if eq .Section $var }}
              <li>
                  <a href="{{ .RelPermalink }} " style="text-decoration:none">
                      <div style="width:150px;height:150px;border-radius:15px;background-color:{{ $.Site.Params.backgroundColor }}; display:flex; justify-content:center; align-items:center">
                          <p style="color:{{ $.Site.Params.textColor }}">{{ title $var }} <br> ({{ $pageCount }})</p>
                        </div>
                  </a>
              </li>
        {{ end }} {{ end }}
      {{ end }}
  </ul>

  {{ if $.Site.Params.updated_since }}
  <hr>
  <h2 class="archive-title" style="text-align: center;">Recent updates</h2>

  {{ range (where $pages ".Date" ">=" ($.Site.Params.updated_since | time.AsTime)).GroupBy "Section" }}
    <h2 class="archive-title">{{ title .Key }}</h2>
    {{ range .Pages }}
    <article class="archive-item">
      <a href="{{ .RelPermalink }}" class="archive-item-link">
        {{ with .Title }}
          {{ . }}
        {{ else }}
          {{ .RelPermalink }}
        {{ end }}
      </a>
      <span class="archive-item-date">
        {{ .Date.Format "2006-01-02" }}
      </span>
    </article>
    {{ end }}
    {{ end }}

  {{ end }}

  </div>

</main>

{{ partial "footer.html" . }}
